body {
    font-family: 'Roboto', sans-serif;
}

.col-print-1 {width:8%;  float:left;}
.col-print-2 {width:16%; float:left;}
.col-print-3 {width:25%; float:left;}
.col-print-4 {width:33%; float:left;}
.col-print-5 {width:42%; float:left;}
.col-print-6 {width:50%; float:left;}
.col-print-7 {width:58%; float:left;}
.col-print-8 {width:66%; float:left;}
.col-print-9 {width:75%; float:left;}
.col-print-10{width:83%; float:left;}
.col-print-11{width:92%; float:left;}
.col-print-12{width:100%; float:left;}

.labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.labels span {
    color: #666;
}
.progress {
    height: 5px;
}
.progress-bar {
    background: -webkit-linear-gradient(left, #33156d 0%,#f282bc 100%); /* Chrome10-25,Safari5.1-6 */
}

.label-default {
    font-family: "Arial Narrow Bold",sans-serif;
}


#wrapper {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    /*overflow: hidden;*/
    text-align: center;
    background: black;
}

img {
    display: none;
}

canvas {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}